@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper-page{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: var(--bs-gray-100);
}
.wrapper-page > header{
  background: var(--bs-purple);
  padding: 15px;
}
.wrapper-page > main{
  flex: 1;
  display: flex;
  overflow: hidden;
}
.wrapper-page > main > aside {
  position: fixed;
  top: 0;
  left: 0px;
  height: 100vh;
  width: 250px;
  transform: translateX(-250px);
  transition: .3s;
  visibility: hidden;
  background-color: var(--bs-white);
  z-index: 5;
}
.wrapper-page > .overlay{
  background-color: rgba(0, 0, 0, 0.09);
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: .1s;
  z-index: 2;
}
.wrapper-page.open-sidebar > .overlay{
  width: 100%;
}
.wrapper-page.open-sidebar > main > aside {
  transform: translateY(0px);
  visibility: visible;
}
.wrapper-page > main > aside > header{
  border-bottom: 1px solid #ddd;
  padding: 14px 5px 14px 16px ;
  color: var(--bs-purple);
}
.wrapper-page > main > aside > ul{
  list-style: none;
  padding: 0;
}
.wrapper-page > main > aside > ul > li{
  padding: 5px 15px;
}
.wrapper-page > main > aside > ul > li > a{
  text-decoration: none;
  color: var(--bs-purple);
}
.wrapper-page > main > section{
  height: calc(100vh - 54px);
  overflow-y: auto;
  flex: 1;
  overflow-x: hidden;
}

.btn-fin-default{
  color: var(--bs-white);
  background-color: var(--bs-purple);
}
.btn-fin-default:hover{
  color: var(--bs-white);
  background-color: var(--bs-indigo);
}